* {
	box-sizing: border-box;
}

.container {
}

.login {
	background-color: #e5e4e6;
	width: 250px;
	height: 300px;
	/*border: 1px solid #606060;*/
	padding: 20px;
	margin: auto;
	margin-top: 10%;
	text-align: center;
	box-shadow: 0 0 10px grey;
	-moz-border-radius: 15px 50%;
	-webkit-border-radius: 15px 50%;
	border-radius: 15px;
}

input {
	margin: 5px;
	font-size: 90%;
	color: #5a5854;
	background-color: #f2f2f2;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	padding: 8px;
	display: block;
}

input:focus {
	background-color: #ffffff;
	border: 1px solid #b1e1e4;
}

#name {
	border-width: 0 0 1px 0;
	border-radius: 0;
	background-color: transparent; 
}

#name:focus {
	border-bottom: 1px solid blue; 
	outline: none;
}

button {
	color: #fff;
	background: #2075cc;
	border-radius: 5px;
	outline: none;
	padding: 5px 10px;
	width: 80%;
	border: 0;
	margin: 5px auto;
	display: block;
	background: -webkit-gradient(linear, left top,left bottom, from(#beeae9), to(#a8cfce));
	background: -moz-gradient(top, #beeae9, #a8cfce);
	background: -o-gradient(top, #beeae9, #a8cfce);
	background: -linear-gradient(top, #beeae9, #a8cfce);
}

button:hover {
	box-shadow: 0 0 5px #444;
	cursor: pointer;
}

.link {
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}